
  <div class="container-fluid">

      <div class="box">
          <nav>
              <a href="#" class="logo">HB</a>
              <!-- <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
              </ul> -->
          </nav>
          <div class="contains">

              <div class="section-1">
                  <h1>Hi, I'am Hamza Braimi</h1>
                  <h3>Big data & Cloud Student</h3>
                  <p>I make ideas & things alive.</p>
                  <a class="btn" href="">Contact Me</a>
              </div>

              <div class="section-2">
                  <img src="../assets/user.jpg" alt="">
              </div>

              <div class="section-3">
                  <a href="#"><i class="bi bi-facebook text-sucess"></i></a>
                  <a href="#"><i class="bi  bi-twitter"></i></a>
                  <a href="#"><i class="fa-brands bi-instagram"></i></a>
              </div>

          </div>
      </div>
  </div>
